{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Test Suite</h2>
<form method="post">
	<div class="mb-3">
		{{ render_field(form.title, class="form-control") }}
	</div>
	<div class="mb-3">
		{{ render_field(form.description, class="form-control") }}
	</div>
	<button type="submit" class="btn btn-primary">Create Test Suite</button>
	<a href="{{ url_for('testsuite.index') }}" class="btn btn-secondary">Back to List</a>
	{% if testcases %}
	<h2 class="mt-3">Associated Test Cases</h2>
	{% for tc in testcases %}
	<div class="form mb-3">
		<input type="checkbox" id="testcase_{{ tc.id }}" name="testcases_ids" value="{{ tc.id }}">
		<label for="testcase_{{ tc.id }}" class="form-label">{{ tc.code_with_prefix }} {{ tc.title }}</label>
	</div>
	{% endfor %}
	{% endif %}
</form>
{% endblock %}
