{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Test Suite</h2>
<form action="{{ url_for('testsuite.create') }}" method="post">
    <div class="mb-3">
        {{ render_field(form.name, class="form-control") }}
    </div>
    <div class="mb-3">
        <label for="project" class="form-label">Project</label>
        <input type="text" name="project" id="project" class="form-control" value="{{ g.project.name }}" disabled>
    </div>
    <div class="mb-3">
        {{ render_field(form.description, class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Create Test Suite</button>
    <a href="{{ url_for('testsuite.index') }}" class="btn btn-secondary">Back to List</a>
</form>
{% endblock %}