{% extends 'base.html' %}

{% block title %}Test Plans{% endblock %}

{% block content %}
<h1>Test Plans</h1>
<form action="{{ url_for('testplan.create') }}" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" required></textarea>
    <label for="milestone">Milestone</label>
    <input type="text" name="milestone" id="milestone" placeholder="Milestone" required>
    <label for="platform">Platform</label>
    <input type="text" name="platform" id="platform" placeholder="Platform" required>
    <button type="submit">Create Test Plan</button>
</form>
<a href="{{ url_for('testplan.index') }}">Back to Test Plans</a>
{% endblock %}