{% extends 'base.html' %}

{% block title %}Test Plans{% endblock %}

{% block content %}
<h2>Test Plan Edit</h2>

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ testplan.name }}">
    </div>
    <div class="mbp-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control">{{ testplan.description }}</textarea>
    </div>
    <div class="mb-3">
        <label for="milestone" class="form-label">Milestone</label>
        <input type="text" name="milestone" id="milestone" class="form-control" value="{{ testplan.milestone }}">
    </div>
    <div class="mb-3">
        <label for="platform" class="form-label">Platform</label>
        <input type="text" name="platform" id="platform" class="form-control" value="{{ testplan.platform }}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('testplan.detail', testplan_id=testplan.id) }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}