{% extends 'base.html' %}

{% block title %}Test Plans{% endblock %}

{% block content %}
<h2>Test Plans</h2>

<div class="mb-3">
    <a href="{{ url_for('project.select', next=url_for('testplan.index')) }}" class="btn btn-secondary">Select Project</a>
    <a href="{{ url_for('testplan.create') }}" class="btn btn-primary">Create New Test Plan</a>
</div>

<div class="list-group mb-3 mt-3">
    {% for testplan in testplans %}
    <a href="{{ url_for('testplan.detail', testplan_id=testplan.id) }}" class="list-group-item list-group-item-action">{{ testplan.name }}</a>
    {% else %}
    <p>No test plans available.</p>
    {% endfor %}
</div>
{% endblock %}