{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<form method="post">
  <div class="mb-3">
    {{ render_field(form.email, class="form-control", id="email") }}
  </div>
  <div class="mb-3">
    {{ render_field(form.password, class="form-control", id="password") }}
  </div>
  <div class="mb-3">
    <a href="{{ url_for('auth.register') }}" class="link-primary">Register</a>
    <a href="{{ url_for('auth.reset_password') }}" class="link-primary">Forgot Password?</a>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}