{% extends 'base.html' %}

{% block content %}
<h2>Associate Test Cases to Bug: {{ bug.code_with_prefix }} - {{ bug.title }}</h2>
<form method="post" action="{{ url_for('bugtracking.associate', bug_id=bug.id) }}">
  {% for testcase in testcases %}
  <div class="form mb-3">
    <input type="checkbox" id="testcase_{{ testcase.id }}" name="testcase_ids" value="{{ testcase.id }}" {% if testcase.id in associated_ids %}checked{% endif %}>
    <label for="testcase_{{ testcase.id }}" class="form-label">{{ testcase.code_with_prefix }} {{ testcase.title }}</label>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="{{ url_for('bugtracking.detail', bug_id=bug.id) }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}