{% extends 'base.html' %}

{% block content %}
<h2>Bug Tracking</h2>
<p><strong>Total Bugs:</strong> {{ bugs | length }}</p>
<p><strong>Open Bugs:</strong> {{ data.open_bugs }}</p>
<p><strong>High Priority:</strong> {{ data.high_open_bugs }}</p>
<p><strong>Medium Priority:</strong> {{ data.medium_open_bugs }}</p>
<p><strong>Low Priority:</strong> {{ data.low_open_bugs }}</p>
<div class="mb-3">
	<a href="{{ url_for('bugtracking.create') }}" class="btn btn-primary">Report Bug</a>
	<a href="{{ url_for('project.select', next=url_for('bugtracking.index')) }}" class="btn btn-secondary">Select Project</a>
</div>
<table class="table mt-3">
	<thead class="table-dark mt-3">
		<tr>
			<th>ID</th>
			<th>Test Cases</th>
			<th>Title</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Reporter</th>
			<th>Last Update</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for bug in bugs %}
		<tr class="{% if bug.status == 'closed' %}table-success{% elif bug.status == 'progress' %}table-warning{% endif %}">
			<td>{{ bug.code_with_prefix }}</td>
			<td>{{ bug.testcases_codes | join(', ') }}</td>
			<td><a href="{{ url_for('bugtracking.detail', bug_id=bug.id) }}">{{ bug.title }}</a></td>
			<td>{{ bug.status | capitalize }}</td>
			<td>{{ bug.priority | capitalize }}</td>
			<td>{{ bug.reporter }}</td>
			<td>{{ bug.updated_at | format_datetime }}</td>
			<td>
				<form action="{{ url_for('bugtracking.update_status', bug_id=bug.id) }}" method="post">
					<button type="submit" class="btn btn-secondary btn-sm">Update Status</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
