{% extends 'base.html' %}

{% block content %}
<h1>Bug Tracking</h1>
<div class="mb-3">
	<a href="{{ url_for('bugtracking.create') }}" class="btn btn-primary">Report Bug</a>
	<a href="{{ url_for('project.select', next=url_for('bugtracking.index')) }}" class="btn btn-secondary">Select Project</a>
</div>
<table class="table">
	<thead class="table-dark">
		<tr>
			<th>ID</th>
			<th>Test Cases</th>
			<th>Title</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Reporter</th>
			<th>Last Update</th>
		</tr>
	</thead>
	<tbody>
		{% for bug in bugs %}
		<tr {% if bug.is_closed %}class="table-secondary"{% endif %}>
			<td>{{ bug.code_with_prefix }}</td>
			<td>{{ bug.testcases_codes | join(', ') }}</td>
			<td><a href="{{ url_for('bugtracking.detail', bug_id=bug.id) }}">{{ bug.title }}</a></td>
			<td>{{ bug.status }}</td>
			<td>{{ bug.priority | capitalize }}</td>
			<td>{{ bug.reporter }}</td>
			<td>{{ bug.updated_at | format_datetime }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
