<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - TestManager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  </head>
  <body class="bg-light">
    <header class="d-flex justify-content-between align-items-center p-3 bg-white mb-4">
      <h1><a href="{{ url_for('index') }}" class="text-decoration-none">TestManager</a></h1>
      <nav>
        <ul class="nav">
          {% if g.user %}
            <li class="nav-item"><a href="{{ url_for('requirement.index') }}" class="nav-link">Requirements</a></li>
            <li class="nav-item"><a href="{{ url_for('testexec.select') }}" class="nav-link">Test Executions</a></li>
            <li class="nav-item"><a href="{{ url_for('testplan.index') }}" class="nav-link">Test Plans</a></li>
            <li class="nav-item"><a href="{{ url_for('testcase.index') }}" class="nav-link">Test Cases</a></li>
            <li class="nav-item"><a href="{{ url_for('project.index') }}" class="nav-link">Projects</a></li>
            <li class="nav-item"><span class="btn">{{ g.user.name }}</span></li>
            <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">Log Out</a></li>
          {% else %}
            <li class="nav-item"><a href="{{ url_for('auth.register') }}" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <section class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>