{% extends 'base.html' %}

{% block content %}
<h2>Requirements</h2>

<div class="mb-3"></div>
    <a href="{{ url_for('requirement.create') }}" class="btn btn-primary">Create Requirement</a>
    <a href="{{ url_for('project.select', next=url_for('requirement.index')) }}" class="btn btn-secondary">Select Project</a>
    <a href="{{ url_for('requirement.reorder') }}" class="btn btn-secondary">Reorder Requirements</a>
</div>

{% if requirements %}
<table class="table mt-3">
    <thead class="table-dark mt-3">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        {% for requirement in requirements %}
        <tr>
            <td>{{ requirement.code_with_prefix }}</td>
            <td><a href="{{ url_for('requirement.detail', requirement_id=requirement.id) }}" class="text-primary">{{ requirement.title }}</a></td>
            <td>{{ requirement.type | capitalize }}</td>
            <td>{{ requirement.priority | capitalize }}</td>
            <td>{{ requirement.updated_at | format_datetime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No requirements found.</p>
{% endif %}
{% endblock %}
