{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Test Case</h2>
<form method="post">
    <div class="mb-3">
        {{ render_field(form.title, class="form-control", list="title_suggestions", autocomplete="off", autofocus=True) }}
    </div>
    <div class="mb-3">
        {{ render_field(form.preconditions, class="form-control", list="precondition_suggestions", autocomplete="off") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.steps, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.expected_result, class="form-control", list="expected_result_suggestions", autocomplete="off") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.is_automated, class="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-primary">Create Test Case</button>
    <a href="{{ url_for('testcase.index') }}" class="btn btn-secondary">Back to List</a>
	{% if requirements %}
	<h2 class="mt-3">Associated Requirements</h2>
	{% for req in requirements %}
	<div class="form mb-3">
		<input type="checkbox" id="requirement_{{ req.id }}" name="requirements_ids" value="{{ req.id }}">
		<label for="requirement_{{ req.id }}" class="form-label">{{req.code_with_prefix}} {{ req.title }}</label>
	</div>
	{% endfor %}
	{% endif %}
</form>

<datalist id="title_suggestions">
    {% for title in suggestions.titles %}
    <option value="{{ title }}">
    {% endfor %}
</datalist>

<datalist id="precondition_suggestions">
    {% for precondition in suggestions.preconditions %}
    <option value="{{ precondition }}">
    {% endfor %}
</datalist>

<datalist id="expected_result_suggestions">
    {% for expected_result in suggestions.expected_results %}
    <option value="{{ expected_result }}">
    {% endfor %}
</datalist>
{% endblock %}
