{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Test Case Edit</h2>
<form method="post">
    <div class="mb-3">
        {{ render_field(form.title, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.preconditions, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.steps, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.expected_result, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.is_automated, class="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('testcase.detail', testcase_id=request.view_args['testcase_id']) }}" class="btn btn-secondary">Cancel</a>
	{% if requirements %}
	<h2 class="mt-3">Associated Requirements</h2>
	{% for req in requirements %}
	<div class="form mb-3">
		<input type="checkbox" id="requirement_{{ req.id }}" name="requirements_ids" value="{{ req.id }}" {% if req.id in associated_ids %}checked{% endif %}>
		<label for="requirement_{{ req.id }}" class="form-label">{{req.code_with_prefix}} {{ req.title }}</label>
	</div>
	{% endfor %}
	{% endif %}
</form>
{% endblock %}
