{% extends 'base.html' %}

{% block content %}
<h1>Reorder Test Cases</h1>
<div class="mb-3">
	<a href="{{ url_for('testcase.index') }}" class="btn btn-secondary">Back to List</a>
</div>
<table class="table">
	<thead class="table-dark">
		<tr>
			<th>Order</th>
			<th>Requirements</th>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for testcase in testcases %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ testcase.requirements_codes | join(', ') }}</td>
			<td>{{ testcase.title }}</td>
			<td>
				{% if loop.index > 1 %}
				<form method="post" action="{{ url_for('testcase.change_order', testcase_id1=testcase.id, testcase_id2=testcases[loop.index0 - 1].id) }}">
					<button type="submit" class="btn btn-sm btn-outline-primary">Move Up</button>
				</form>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
