{% extends 'base.html' %}

{% block title %}Test Case{% endblock %}

{% block content %}
<h1>Test Case</h1>
<form method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Title" required>
    <span><strong>Project:</strong> {{ g.project.name }}</span>
    <label for="preconditions">Preconditions:</label>
    <input type="text" name="preconditions" placeholder="Preconditions" required>
    <label for="steps">Steps:</label>
    <textarea name="steps" placeholder="Steps" required></textarea>
    <label for="expected_result">Expected Result:</label>
    <input type="text" name="expected_result" id="expected_result" placeholder="Expected Result" required>
    <button type="submit">Create Test Case</button>
</form>
<a href="{{ url_for('testcase.index') }}">Back to Test Cases</a>
{% endblock %}