{% extends 'base.html' %}

{% block title %}Test Case{% endblock %}

{% block content %}
<h1>Test Case Edit</h1>
<form method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ testcase.title }}">
    <label for="preconditions">Preconditions</label>
    <input type="text" name="preconditions" id="preconditions" value="{{ testcase.preconditions }}">
    <label for="steps">Steps</label>
    <textarea name="steps" id="steps">{{ testcase.steps }}</textarea>
    <label for="expected_result">Expected Result</label>
    <input type="text" name="expected_result" id="expected_result" value="{{ testcase.expected_result }}">
    <button type="submit">Save</button>
</form>

<a href="{{ url_for('testcase.detail', testcase_id=testcase.id) }}">Cancel</a>
{% endblock %}
