{% extends 'base.html' %}

{% block title %}Test Cases{% endblock %}

{% block content %}
<h2>Test Cases</h2>

<div class="mb-3">
    <a href="{{ url_for('project.select', next=url_for('testcase.index')) }}" class="btn btn-secondary">Select Project</a>
    <a class="btn btn-primary" href="{{ url_for('testcase.create') }}">Create New Test Case</a>
</div>

{% if testcases %}
<table class="table">
    <thead class="table-dark table-striped table-bordered mt-3">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Preconditions</th>
            <th scope="col">Steps</th>
            <th scope="col">Expected Result</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for testcase in testcases %}
        <tr>
            <td>{{ testcase.id }}</td>
            <td><a href="{{ url_for('testcase.detail', testcase_id=testcase.id) }}">{{ testcase.title }}</a></td>
            <td>{{ testcase.preconditions }}</td>
            <td>{{ testcase.steps }}</td>
            <td>{{ testcase.expected_result }}</td>
            <td>{{ testcase.created_at }}</td>
            <td>{{ testcase.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No test cases found.</p>
{% endif %}
{% endblock %}