{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Test Run</h2>
<ul class="pagination">
	{% for r in testresults %}
	<li class="page-item{% if r.id == testresult_id %} disabled{% elif r.executed_at %} active{% endif %}">
		<a class="page-link" href="{{ url_for('testrun.run_case', testrun_id=testrun.id, testresult_id=r.id) }}">{{ loop.index }}</a>
	</li>
	{% endfor %}
</ul>
<p><strong>ID</strong>: {{ testcase.code_with_prefix }}</p>
<p>
<strong>Open Bugs</strong>:
{% for bug in testcase.open_bugs %}
<a href="{{ url_for('bugtracking.detail', bug_id=bug.id) }}" title="{{ bug.title }}">{{ bug.code_with_prefix }}</a>
{% else %}
None.
{% endfor %}
</p>
<p><strong>Title</strong>: {{ testcase.title }}</p>
<p><strong>Preconditions</strong>: {{ testcase.preconditions }}</p>
<p><strong>Steps</strong>: {{ testcase.steps | replace('\n','<br/>') | safe }}</p>
<p><strong>Expected Results</strong>: {{ testcase.expected_result }}</p>
<form method="post">
	<div class="mb-3">
        {{ render_field(form.status, class="form-select") }}
	</div>
	<div class="mb-3">
        {{ render_field(form.notes, class="form-control") }}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="{{ url_for('testrun.index') }}" class="btn btn-secondary">Pause</a>
</form>

<script>
	let start_time;
	document.addEventListener('DOMContentLoaded', function() {
		start_time = Date.now();
	});
	document.querySelector('select[name="status"]').addEventListener('change', function() {
		const elapsed_time = Date.now() - start_time;
		if (!(this.form.querySelector('input[name="duration"]'))) {
			let input = document.createElement('input');
			input.type = 'hidden';
			input.name = 'duration';
			input.value = Math.floor(elapsed_time / 1000);
			this.form.appendChild(input);
		}
	});
</script>
{% endblock %}
