{% extends "base.html" %}

{% block content %}
<h2>Test Run Summary</h2>
<div class="mb-3">
	<a href="{{ url_for('testrun.index') }}" class="btn btn-secondary">Back to List</a>
	<a href="{{ url_for('testrun.export', testrun_id=testrun.id) }}" class="btn btn-info">Export CSV</a>
</div>
<p><strong>Total Tests:</strong> {{ data.total_tests }}</p>
<p><strong>Passed Tests:</strong> {{ data.passed_tests }}</p>
<p><strong>Failed Tests:</strong> {{ data.failed_tests }}</p>
<p><strong>Skipped Tests:</strong> {{ data.skipped_tests }}</p>
<p><strong>Total Duration:</strong> {{ data.total_duration }}s ({{ data.total_duration_min}} min)</p>
<p><strong>Percent Passed:</strong> {{ data.percent_passed }}%</p>
<table class="table">
	<thead class="table-dark mt-3">
		<tr>
			<th>Test Case ID</th>
			<th>Result</th>
			<th>Executed By</th>
			<th>Executed At</th>
			<th>Duration</th>
			<th>Notes</th>
			<th>Actions</th>
			<th>Open Bugs</th>
		</tr>
	</thead>
	{% for testresult in testresults %}
	<tr>
		<td><a href="{{ url_for('testcase.detail', testcase_id=testresult.test_case.id) }}" class="text-primary" title="{{ testresult.test_case.title }}">{{ testresult.test_case.code_with_prefix }}</a></td>
		<td class="{% if testresult.status == 'pass' %}table-success{% elif testresult.status == 'fail' %}table-danger{% else %}table-warning{% endif %}">
			{{ testresult.status }}
		</td>
		<td>{{ testresult.executor }}</td>
		<td>{{ testresult.executed_at | format_datetime }}</td>
		<td>{{ testresult.duration }}s</td>
		<td>{{ testresult.notes }}</td>
		<td>
			<div class="d-flex gap-1">
				<a href="{{ url_for('testrun.run_case', testrun_id=testrun.id, testresult_id=testresult.id) }}" class="btn btn-secondary btn-sm">Edit</a>
				<a href="{{ url_for('testrun.report_bug', testresult_id=testresult.id) }}" class="btn btn-info btn-sm">Report Bug</a>
			</div>
		</td>
		<td>
			{% for bug in testresult.test_case.open_bugs %}
			<a href="{{ url_for('bugtracking.detail', bug_id=bug.id) }}" title="{{ bug.title }}">{{ bug.code_with_prefix }}</a>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
