:root {
    --cor-1: cornflowerblue;
    --cor-2: lightgray;
    --cor-3: #cae6f6;
    --cor-4: #377ba8;
    --cor-5: #cc2f2e;
}

html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2 {
  font-family: serif;
  color: var(--cor-4);
  margin: 1rem 0;
}

a {
  color: var(--cor-4);
}

nav {
  background: var(--cor-2);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: var(--cor-3);
  border: 1px solid var(--cor-4);
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content table th, .content table td {
  border: 1px solid lightgray;
  padding: 0.5em;
}

button.danger {
  color: var(--cor-5);
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}